.social__list {
  @include clear-list-styles;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: 24px;
}

.social__item-link {
  fill: #231f20;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}
