@mixin typography-template($font-size, $line-height, $font-family: $main-font-family, $font-weight: 400) {
  font-size: $font-size;
  font-weight: $font-weight;
  font-style: normal;
  line-height: $line-height;
  font-family: $font-family;
}

// Main fonts

@mixin mb-s17-h24 {
  @include typography-template(17px, 24px, $main-font-family, 700);
}

@mixin mb-s27-h30 {
  @include typography-template(27px, 30px, $main-font-family, 700);
}
